# Banco de Dados
DATABASE_URL="postgresql+asyncpg://seu_usuario:sua_senha@localhost:5432/seu_db"

# Autenticação JWT
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
